@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Alterando o Box Model */
* { box-sizing: border-box; }

/* Declaração de variáveis (sempre no :root) */
:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/* Valor de referência/base
para uso da medida REM */
html { font-size: 16px; }

/* Reset de alguns elementos */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

a { text-decoration: none; }

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800; /* extra bold */
    font-size: 1.5rem;
}

.titulo a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

/* Cabeçalho/Topo "cheio", ou seja, pegando 100% da tela/fixado. */
.topo {
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
    z-index: 10;
}

/* div com a classe limitador DENTRO do topo (sub-cabeçalho):
aplicamos os ajustes de layout (flex) */
.topo .limitador {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Classe que será aplicada em algumas partes do site visando criar limites de tamanho. */
.limitador {
    width: 95vw;
    max-width: 1000px;
    margin: auto;
    /* background-color: yellow; */
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    /* background-color: yellow; */
    display: inline-block;
}

.menu a:hover {
    background-color: var(--cor-intermediaria);
}

.links-menu { 
    list-style: none; 
    display: none;
}

.links-menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.links-menu.aberto {
    /* Usamos o flex para fazer os links
    aparecerem e ao mesmo ter acesso a
    todas as vantagens do flex. */
    display: flex;

    /* Fazemos com que os links fiquem
    dispostos como coluna (verticalmente) */
    flex-direction: column;

    /* Usamos o position absolute para "soltar" a lista de links na tela e com as propriedades/coordenadas
    left e right ajustar sua posição em relação às laterais. */
    position: absolute;
    left: 0;
    right: 0;

    background-color: var(--cor-clara);
}

.destaque {
    height: 75vh;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    color: var(--cor-clara);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Etapa 1: criar regra de animação */
@keyframes animaDestaque {
    /* Dê (como começa) */
    from { 
        opacity: 0;
        transform: scale(0.5);
    }

    /* Para (como termina) */
    to { 
        opacity: 1; 
        transform: scale(1);
    }
}

/* Etapa 2: aplicar a animação */
.destaque h2, .destaque p {
    color: var(--cor-clara);
    animation-name: animaDestaque;
    animation-duration: 0.5s;

    /* Opções adicionais */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}


/* Função clamp()
Usada para definir um valor que se ajusta dinamicamente
entre um valor MÍNIMO, IDEAL/FLEXÍVEL/VARIÁVEL e MÁXIMO. */
.destaque h2 { font-size: clamp(3rem, 10vw, 7rem); }
.destaque p { font-size: clamp(1.5rem, 3vw, 3rem); }

article h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
}

article p {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

article address {
    font-style: normal;
    font-size: 1.2rem;
}

.front-end, .historia, .localizacao {
    text-align: center;
}

/* Exercícios (correção) */
.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.historia h2 {
    color: var(--cor-clara);
    text-shadow: var(--cor-escura) 2px 2px 5px;
}

.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.rodape {
    background-color: var(--cor-escura);  
    color: var(--cor-clara);  
    height: 30vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Regras para as demais páginas (Produtos, Serviços e Contato) */
.conteudo-geral {
    background-color: var(--cor-intermediaria);
    padding: 0.5rem;

}

.conteudo-geral h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
}

/* Regras para tabela */
table {
    border: solid 4px var(--cor-escura);
    width: 80%;
    max-width: 600px;
    margin: auto;

    /* Remove o espaçamento
    entre as bordas */
    border-collapse: collapse;
}

caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
}

th, td {
    border: solid 1px var(--cor-escura);
}

th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.5rem;
}

td { padding: 0.4rem; }

/* Selecionando os segundos <td> */
td:nth-child(2){ text-align: center; }

/* Selecionando os últimos <th> e <td> */
td:last-child, th:last-child {
    text-align: right;
}

/* Selecionando linhas alternadas.
Podemos usar even (par) ou odd (ímpar). */
tr:nth-child(even){
    background-color: var(--cor-clara);
}

.galeria  { text-align: center; }

.galeria img {
    border-radius: 50%;
    box-shadow: var(--cor-escura) 0 0 10px;
    transform: scale(0.8) rotate(-20deg);
    transition: 0.5s;
}

.galeria img:hover {
    transform: scale(1);
}

/* Regras para o formulário de contato */
form {
    max-width: 500px;
    margin: auto;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--cor-texto);
}

form div { margin-bottom: 1rem; }

input, select, textarea {
    width: 100%;
    border: none;
    padding: 6px;
    height: 40px;
    border-radius: 4px;
}

textarea { height: auto; }

button {
    border: none;
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
}

button:hover, button:focus {
    background-color: darkblue;
    cursor: pointer;
    transform: scale(1.05);
}




/* Regras Condicionais usando Media Queries */
@media screen and (min-width: 600px){
    /* Escondendo a palavra Menu */
    .titulo-menu { display: none; }

    /* Exibindo os links do menu */
    .links-menu { display: flex; }

    /* Ajustamos o tamanho do menu (nav) fazendo-o "esticar",
    aumentando o espaçamento dentro dele. */
    .menu { width: 60%; }

    /* Forçamos cada item (li) da lista a ter largura total e,
    com isso, redistribuir e ocupar todos os espaços dentro do menu (nav) */
    .links-menu li { width: 100%; }
}


@media screen and (min-width: 1000px){
    /* Aumentamos o tamanho base do font-size. Desta forma,
    todos os textos do site (em especial os que usam REM), 
    mudam de tamanho proporcionalmente. */
    html { font-size: 20px; }

    /* Aumentamos a altura da div.limitador contida
    no topo (header) */
    .topo .limitador { height: 100px; }
}