@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Alterando o Box Model */
* { box-sizing: border-box; }

/* Declaração de variáveis (sempre no :root) */
:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/* Reset de alguns elementos */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

a { text-decoration: none; }

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800; /* extra bold */
    font-size: 1.5rem;
}