@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Alterando o Box Model */
* { box-sizing: border-box; }

/* Declaração de variáveis (sempre no :root) */
:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/* Valor de referência/base
para uso da medida REM */
html { font-size: 16px; }

/* Reset de alguns elementos */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

a { text-decoration: none; }

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800; /* extra bold */
    font-size: 1.5rem;
}

.titulo a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    /* background-color: yellow; */
    display: inline-block;
}

.menu a:hover {
    background-color: var(--cor-intermediaria);
}

.links-menu { 
    list-style: none; 
    display: none;
}

.links-menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.links-menu.aberto {
    /* Usamos o flex para fazer os links
    aparecerem e ao mesmo ter acesso a
    todas as vantagens do flex. */
    display: flex;

    /* Fazemos com que os links fiquem
    dispostos como coluna (verticalmente) */
    flex-direction: column;

    /* Usamos o position absolute para "soltar" a lista de links na tela e com as propriedades/coordenadas
    left e right ajustar sua posição em relação às laterais. */
    position: absolute;
    left: 0;
    right: 0;

    background-color: var(--cor-clara);
}

.destaque {
    height: 75vh;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    color: var(--cor-clara);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Etapa 1: criar regra de animação */
@keyframes animaDestaque {
    /* Dê (como começa) */
    from { 
        opacity: 0;
        transform: scale(0.5);
    }

    /* Para (como termina) */
    to { 
        opacity: 1; 
        transform: scale(1);
    }
}

/* Etapa 2: aplicar a animação */
.destaque h2, .destaque p {
    color: var(--cor-clara);
    animation-name: animaDestaque;
    animation-duration: 0.5s;

    /* Opções adicionais */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}


/* Função clamp()
Usada para definir um valor que se ajusta dinamicamente
entre um valor MÍNIMO, IDEAL/FLEXÍVEL/VARIÁVEL e MÁXIMO. */
.destaque h2 { font-size: clamp(3rem, 10vw, 7rem); }
.destaque p { font-size: clamp(1.5rem, 3vw, 3rem); }

article h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
}

article p {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

article address {
    font-style: normal;
    font-size: 1.2rem;
}

.front-end, .historia, .localizacao {
    text-align: center;
}

/* Exercícios (correção) */
.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.historia h2 {
    color: var(--cor-clara);
    text-shadow: var(--cor-escura) 2px 2px 5px;
}

.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.rodape {
    background-color: var(--cor-escura);  
    color: var(--cor-clara);  
    height: 30vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Regras para as demais páginas (Produtos, Serviços e Contato) */
.conteudo-geral {
    background-color: var(--cor-intermediaria);
    padding: 0.5rem;
}

.conteudo-geral h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
}
